:root {
  font-family: Helvetica;
}

.carousel {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-root {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
